<h1>{{ isEdit ? "Edit" : "Create" }} Vacancy</h1>

<form (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="vacancy.name"
      name="name"
      required
    />
  </div>

  <div>
    <label for="description">Description:</label>
    <textarea
      id="description"
      [(ngModel)]="vacancy.description"
      name="description"
      required
    ></textarea>
  </div>

  <div>
    <label for="salary">Salary:</label>
    <input
      type="number"
      id="salary"
      [(ngModel)]="vacancy.salary"
      name="salary"
      required
    />
  </div>

  <div>
    <label for="company">Company:</label>
    <select
      id="company"
      [(ngModel)]="vacancy.company"
      name="company"
      [disabled]="!!route.snapshot.paramMap.get('companyId')"
      required
    >
      <option *ngFor="let company of companies" [value]="company.id">
        {{ company.name }}
      </option>
    </select>
  </div>

  <button type="submit">{{ isEdit ? "Update" : "Create" }}</button>
  <button
    type="button"
    (click)="router.navigate(['/companies', vacancy.company, 'vacancies'])"
  >
    Cancel
  </button>
</form>
